{% extends 'templates/layout.html' %}

{% block content %} 

	<body class="page-container-bg-solid">
        <div class="page-wrapper">
            <div class="page-wrapper-row">
                <div class="page-wrapper-top">
                    <!-- BEGIN HEADER -->
                    <div class="page-header">
											
											{% include 'templates/partials/top.html' %}

											{% include 'templates/partials/nav.html' %}

                    </div>
                    <!-- END HEADER -->
                </div>
            </div>
						<div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN CONTENT -->
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            <!-- BEGIN PAGE HEAD-->
                            <div class="page-head">
                                <div class="container">
                                    <!-- BEGIN PAGE TITLE -->
                                    <div class="page-title">
                                        <h1 class="font-yellow-mint">Reset your Password</h1>
                                    </div>
                                    <!-- END PAGE TITLE -->
                                </div>
                            </div>
                            <!-- END PAGE HEAD-->
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content">
                                <div class="container">
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="{{ baseURL }}" class="font-yellow-mint">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            <a href="{{ baseURL }}auth/signin" class="font-yellow-mint">Sign In</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            <span>Reset Password</span>
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                    <!-- BEGIN PAGE CONTENT INNER -->
                                    <div class="page-content-inner">

                                      <div class="row">
                                          <div class="col-md-12">
                                            <!-- BEGIN PORTLET-->
                                            <div class="portlet light bordered">
                                                  <div class="portlet-title">
                                                      <div class="caption font-green">
                                                          <i class="fa fa-undo font-green"></i>
                                                          <span class="caption-subject bold uppercase"> Enter your data</span>
                                                      </div>
                                                  </div>
                                                  <div class="portlet-body form">
                                                        <form action="{{ baseURL }}auth/reset-password" method="post" id="form-reset" role="form" autocomplete="off">
																														<input type="hidden" name="id" value="{{ id }}" >
                                                            <div class="form-body">
                                                              {% include 'templates/partials/flash.html' %}
                                                              <div class="row">
                                                                <div class="col-md-6">
                                                                  <div class="form-group form-md-line-input form-md-floating-label  {{ errors.email ? 'has-error' : '' }}">
                                                                      <input type="text" class="form-control" id="email" name="email" value="{{ old.email }}" >
                                                                      <label for="username">Enter your Email</label>
                                                                      <span class="help-block {{ errors.email ? 'help-block-error' : '' }}">
																																			{% if errors.email %}
																																				{{ errors.email | first }}<br>
																																			{% endif %}
																																			</span>
                                                                  </div>
                                                                </div>

                                                              </div>
                                                              <div class="row">
                                                                <div class="col-md-6">
                                                                  <div class="form-group form-md-line-input form-md-floating-label  {{ errors.password1 ? 'has-error' : '' }}">
                                                                      <input type="password" class="form-control" id="password1" name="password1">
                                                                      <label for="password">Enter your new password</label>
                                                                      <span class="help-block {{ errors.password1 ? 'help-block-error' : '' }}">
																																			{% if errors.password1 %}
																																				{{ errors.password1 | first }}<br>
																																			{% endif %}
																																			</span>
                                                                  </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                  <div class="form-group form-md-line-input form-md-floating-label  {{ errors.password2 ? 'has-error' : '' }}">
                                                                      <input type="password" class="form-control" id="password2" name="password2">
                                                                      <label for="password">Enter your new password again</label>
                                                                      <span class="help-block {{ errors.password2 ? 'help-block-error' : '' }}">
																																			{% if errors.password2 %}
																																				{{ errors.password2 | first }}<br>
																																			{% endif %}
																																			</span>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="form-actions noborder">
                                                                <button type="submit" class="btn yellow-mint">SEND</button>
                                                            </div>

																														{{ csrf.field | raw }}

                                                        </form>
                                                    </div>
                                              </div>
                                              <!-- END PORTLET-->
                                            </div>
                                        </div>

                                    </div>
                                    <!-- END PAGE CONTENT INNER -->
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                            <!-- END CONTENT BODY -->
                        </div>
                        <!-- END CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>
						<div class="page-wrapper-row">
                <div class="page-wrapper-bottom">
                
									{% include 'templates/partials/footer.html' %}

								</div>
            </div>
        </div>

{% endblock %}

