<!-- BEGIN COOKIES -->
{% if cookies %}
<div class="mt-cookie-consent-bar mt-cookie-consent-bar-light" id="cookie-banner">
    <div class="mt-cookie-consent-bar-holder">
        <div class="mt-cookie-consent-bar-content"> This website <a href="{{ baseURL }}cookies">uses cookies</a> to ensure you get the best experience on our website. Do you accept Google Analytics cookies?
        </div>
        <div class="mt-cookie-consent-bar-action">
            <!--<a href="javascript:;" class="mt-cookie-consent-btn btn yellow-crusta">Understand</a>-->
            <a href="javascript:CookieConsent.acceptCookies();" class="mt-cookie-consent-btn btn yellow-crusta">Accept</a>
            <a href="javascript:CookieConsent.declineCookies();" class="mt-cookie-consent-btn btn yellow-crusta">Decline</a>
        </div>
    </div>
</div>
{% endif %}
<!-- END COOKIES -->

<!-- BEGIN FOOTER -->
<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
    <div class="container"> {{ "now"|date("Y") }} &copy;
        <a target="_blank" href="https://mmb.irbbarcelona.org">Molecular Modeling and Bioinformatics Group</a>
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<!-- END FOOTER -->
