<!-- BEGIN COOKIES -->
										<div class="mt-cookie-consent-bar mt-cookie-consent-bar-light">
												<div class="mt-cookie-consent-bar-holder">
														<div class="mt-cookie-consent-bar-content"> This website uses cookies to ensure you get the best experience on our website.
																<a href="{{ baseURL }}cookies">Our Cookie Policy</a>
														</div>
														<div class="mt-cookie-consent-bar-action">
																<a href="javascript:;" class="mt-cookie-consent-btn btn yellow-crusta">Understand</a>
														</div>
												</div>
										</div>
										<!-- END COOKIES -->

<!-- BEGIN FOOTER -->
                    <!-- BEGIN INNER FOOTER -->
                    <div class="page-footer">
                        <div class="container"> {{ "now"|date("Y") }} &copy;
                            <a target="_blank" href="https://mmb.irbbarcelona.org">Molecular Modeling and Bioinformatics Group</a>
                        </div>
                    </div>
                    <div class="scroll-to-top">
                        <i class="icon-arrow-up"></i>
                    </div>
                    <!-- END INNER FOOTER -->
                    <!-- END FOOTER -->
