<div class="portlet" id="menu-flex">
	{% if sample %}
  {% set sampPath = '/sample' %}
	{% else %}
	{% set sampPath = '' %}
  {% endif %}
	<div class="btn-group btn-group-justified">
		{% if 1 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/curves/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'curves' %} yellow-saffron not-active {% else %} default {% endif %} menu-flex"
			{% if flexname == 'curves' %}disabled{% endif %}>
			<i class="fa fa-mail-forward"></i> Curves 
		</a>
		{% endif %}
		{% if 2 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/stiffness/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'stiffness' %} yellow-saffron not-active {% else %} default {% endif %} menu-flex"
			{% if flexname == 'stiffness' %}disabled{% endif %}>
			<i class="fa fa-stack-overflow"></i> Stiffness 
		</a>
		{% endif %}
		{% if 3 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/pcazip/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'pcazip' %} yellow-saffron not-active {% else %} default {% endif %} menu-flex"
			{% if flexname == 'pcazip' %}disabled{% endif %}>
			<i class="fa fa-signal"></i> PCAZip 
		</a>
		{% endif %}
		{% if 4 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/contacts/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'contacts' %} yellow-saffron not-active {% else %} default {% endif %} menu-flex"
			{% if flexname == 'contacts' %}disabled{% endif %}>
			<i class="fa fa-compress"></i> Contacts 
		</a>
		{% endif %}
		{% if 5 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/bending/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'bending' %}yellow-saffron not-active{% else %}default{% endif %} menu-flex"
			{% if flexname == 'bending' %}disabled{% endif %}>
			<i class="fa fa-circle-o-notch"></i> Bending 
		</a>
		{% endif %}
		{% if 6 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/circular/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'circular' %}yellow-saffron not-active{% else %}default{% endif %} menu-flex"
			{% if flexname == 'circular' %}disabled{% endif %}>
			<i class="fa fa-circle-thin"></i> Circular 
		</a>
		{% endif %}
		{% if 7 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/energy/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'energy' %}yellow-saffron not-active{% else %}default{% endif %} menu-flex"
			{% if flexname == 'energy' %}disabled{% endif %}>
			<i class="fa fa-bolt"></i> Elastic Energy 
		</a>
		{% endif %}
		{% if 8 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/end-to-end/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'end-to-end' %} yellow-saffron not-active {% else %} default {% endif %} menu-flex"
			{% if flexname == 'end-to-end' %}disabled{% endif %}>
			<i class="fa fa-arrows-h"></i> End-to-end 
		</a>
		{% endif %}
		{% if 9 in flexsubtypes %}
		<a href="{{ baseURL }}output/flex/{{ strType }}/sasa/{{id}}{{sampPath}}" 
			class="btn btn-lg {% if flexname == 'sasa' %} yellow-saffron not-active {% else %} default {% endif %} menu-flex"
			{% if flexname == 'sasa' %}disabled{% endif %}>
			<i class="fa fa-steam"></i> SASA 
		</a>
		{% endif %}
	</div>	
</div>

